* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 20px 10px;
  font-family: "Rajdhani";
}

#root {
  max-width: 30em;
  margin: auto;
  text-align: center;
  border-radius: 1em;
  overflow: hidden;
}

.app-title {
  background-color: #de3f53;
  color: #fff;
  font-size: 3em;
  padding: 0.5em;
}

form {
  display: flex;
}

form input {
  color: beige;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  outline: none;
}

form input[type="text"] {
  flex-basis: 75%;
  background-color: #3c4979;
}

form input[type="submit"] {
  flex-basis: 25%;
  background-color: #1dd2af;
}

.to-do-list {
  background-color: #262e4c;
  min-height: 50px;
}

.list-item {
  color: #fff;
  font-size: 1.2em;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item input:checked span {
  text-decoration: line-through;
  color: red;
}

.list-item span {
  margin-left: 10px;
  margin-right: auto;
}
